/* .gradient(140deg, #1e2730 25%, #dd6605a6); */
.to-right{color:#1e2730; background:#dd6605a6};
.to-right{color:#e6b567; background:#d86c00be};
.to-right{color:#926440; background:#725a4a};
/* .gradient(45deg, #926440, #725a4a);
